<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>

<div id="app">
  <v-app>
    <v-chip-group>
      <v-chip
        :key="index"
        color="#777c8b"
        style="cursor: move"
        class="column__items__item"
        v-for="(item, index) in filtersArray"
      >
        <div class="subtitle-2">
          {{ item.visibleName }}
        </div>
        <v-select
          :append-icon="''"
          :items="
            item.type === 'String'
              ? operatorItemsForString
              : operatorItems
          "
          :key="updateKey"
          :menu-props="{
            value: item.isOpenFilter,
            bottom: true,
            offsetY: true,
          }"
          @input="handleItemMenu(index, 'filter')"
          @change="handleFilters(index, null, item.operator)"
          @click="handleItemMenu(index, 'filter')"
          background-color="#777c8b"
          class="item"
          dark
          dense
          flat
          height="38px"
          hide-details
          item-color="primary_text"
          solo
          style="margin-bottom: 2px; font-size: 14px"
          v-model="item.operator"
        />
        <input
          @input="filterValueDebounce(index, null, null, item.value)"
          :style="{ width: getInputWidth(item.value) }"
          :ref="`filterInput${index}`"
          class="limitedInput input-color-white"
          @focus="isInputEditing = true"
          @blur="isInputEditing = false"
          autofocus
          background-color="#777c8b"
          dark
          flat
          placeholder="Значение"
          solo
          v-model="item.value"
        />
        <v-btn @click.stop="removeFilter(index)" icon>
          <ion-icon name="close-circle-outline"></ion-icon>
        </v-btn>
      </v-chip>
    </v-chip-group>
  </v-app>
</div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="vuetify.js"></script>
  <script>

new Vue({
  el: '#app',
  vuetify: new Vuetify(),
  data: () => ({
    tags: [
      'Work',
      'Home Improvement',
      'Vacation',
      'Food',
      'Drawers',
      'Shopping',
      'Art',
      'Tech',
      'Creative Writing',
    ],
    updateKey: 1,
    filtersArray: [{
      columnName: 'duration',
      type: 'UInt32',
      visibleName: 'duration',
      value: '0',
      operator: '=',
      fieldName: 'duration',
      isOpenColumn: false
    }, {
      columnName: 'brokeringusername',
      type: 'String',
      visibleName: 'brokeringusername',
      value: 'User6',
      operator: '=',
      fieldName: 'brokeringusername',
      isOpenColumn: false
    }, {
      columnName: 'machinename',
      type: 'String',
      visibleName: 'machinename',
      value: '',
      operator: 'like',
      fieldName: 'machinename',
      isOpenColumn: false
    }],
    operatorItems: [{
      text: "=",
      value: "="
    }, {
      text: "!=",
      value: "!="
    }, {
      text: ">",
      value: ">"
    }, {
      text: "<",
      value: "<"
    }, {
      text: "Содержит",
      value: "like",
      disabled: true
    }, {
      text: "Не содержит",
      value: "not like",
      disabled: true
    }],
    operatorItemsForString: [
      { text: "=", value: "=" },
      { text: "!=", value: "!=" },
      { text: ">", value: ">", disabled: true },
      { text: "<", value: "<", disabled: true },
      { text: "Содержит", value: "like" },
      { text: "Не содержит", value: "not like" },
    ],
  }),

  methods: {
    getInputWidth(text) {
      let el = document.createElement("div");
      document.body.append(el);
      el.innerText = text;
      el.classList.add("input-buffer");
      const width = el.clientWidth + 20;
      el.remove();
      return `${width}px`;
    },
    handleItemMenu(index, item) {
      if (item === "column") {
        this.columnsArray[index].isOpenColumn =
          !this.columnsArray[index].isOpenColumn;
      }
      if (item === "unit") {
        this.columnsArray[index].isOpenUnit =
          !this.columnsArray[index].isOpenUnit;
      }
      if (item === "filter") {
        this.filtersArray[index].isOpenFilter =
          !this.filtersArray[index].isOpenFilter;
      }
      if (item === "order") {
        this.ordersArray[index].isOpenOrder =
          !this.ordersArray[index].isOpenOrder;
      }
      this.updateKey++;
      this.columnsUpdateKey++;
    },
  }
})


</script>
</body>
</html>